@media screen and (max-width:599px) {
    .navbar ul {
        display: none;
    }
    .navbar p {
        text-align: center;
        position: relative;
        left: 10px;
    }
    .hover-img {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 100%;
        left: 0;
        transition: all 1s;
    }
    .about-description {
        width: 90%;
        margin: auto;
    }
    #about table {
        width: 100%;
    }
    #about table tr td {
        padding: 10px 20px 10px 0px;
        display: block;
    }
    #about button {
        display: block;
        margin-bottom: 10px;
    }
    .services-header,
    .portfolio-header,
    .feedb-header,
    .blog-header,
    .contact-header {
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .services-sections .section {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .portfolio-content {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    #portfolio a {
        width: 25%;
        padding: 10px;
    }
    .portfolio-gallery {
        width: 90%;
        margin: auto;
    }
    .img-portfolio {
        width: 100%;
        padding: 10px;
    }
    #page-details .contain {
        width: 100%;
        margin: 0 auto;
    }
    .pg-details {
        display: block;
        float: none;
        width: 50%;
        text-align: center;
    }
    .feedb-reviews {
        background-color: #F1F1F1;
        width: 80%;
        margin: 50px auto;
        padding: 20px;
    }
    .feedb-reviews img {
        width: 40%;
        position: relative;
        top: 10%;
        left: 30%;
    }
    .desc-review {
        width: 70%;
        padding: 15px;
        text-align: center;
    }
    .shapes {
        display: none;
    }
    #blog .containeeer .blog-content {
        width: 90%;
        text-align: center;
    }
    #contact {
        width: 100%;
        margin: 0;
        padding: 30px;
    }
    #contact form {
        width: 100%;
    }
}

@media screen and (max-width:799px) {
    .navbar ul {
        float: right;
        padding: 10px;
        position: relative;
        right: 10px;
        top: 10px;
    }
    .navbar ul a:hover {
        color: #FF305B;
    }
    .navbar p {
        display: none;
    }
    #about table {
        width: 80%;
    }
    #about button {
        display: block;
        margin-bottom: 10px;
    }
    #about table tr {
        display: inline-block;
    }
    #about table tr td span {
        color: #333333;
    }
    .about-photo {
        float: none;
    }
    .about-border {
        width: 600px;
        height: 440px;
        border: 6px solid #555555;
        border-radius: 2%;
        position: relative;
    }
    .contain-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 5px;
        left: 5px;
        overflow: hidden;
    }
    .services-sections .section {
        width: 50%;
        text-align: center;
        padding: 20px;
    }
    .portfolio-content {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    #portfolio a {
        width: 25%;
        padding: 10px;
    }
    .portfolio-gallery {
        width: 100%;
    }
    .img-portfolio {
        width: 50%;
        padding: 10px;
    }
    #page-details .contain {
        width: 100%;
    }
    .pg-details {
        float: left;
        width: 25%;
        text-align: center;
    }
    .feedb-reviews {
        background-color: #F1F1F1;
        width: 80%;
        margin: 50px auto;
        padding: 20px;
    }
    .feedb-reviews img {
        width: 40%;
        position: relative;
        top: 10%;
        left: 30%;
    }
    .desc-review {
        width: 70%;
        padding: 15px;
        text-align: center;
    }
    .shapes {
        display: none;
    }
    #blog .containeeer .blog-content {
        width: 90%;
        text-align: center;
    }
    #contact {
        width: 100%;
        margin: 0;
        padding: 30px;
    }
    #contact form {
        width: 100%;
    }
}

@media screen and (min-width:800px)and(max-width:900px) {
    .navbar ul {
        float: right;
        padding: 10px;
        position: relative;
        right: 10px;
        top: 10px;
    }
    .navbar ul a:hover {
        color: #FF305B;
    }
    .navbar p {
        color: #FF305B;
        font-size: 20px;
        float: left;
        position: relative;
        left: 140px;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }
    #about {
        width: 70%;
        margin: auto;
        padding: 50px 0;
    }
    .about-border {
        width: 360px;
        height: 440px;
        border: 6px solid #555555;
        border-radius: 2%;
        position: relative;
    }
    .contain-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15px;
        left: 15px;
        overflow: hidden;
    }
    .h-line {
        width: 5px;
        height: 22px;
        background-color: #FF305B;
        float: left;
    }
    .hello {
        padding: 25px 0;
    }
    .about-description {
        width: 60%;
        float: right;
    }
    #about table {
        width: 80%;
    }
    #about button {
        display: block;
        margin-bottom: 10px;
    }
    #about table tr {
        display: inline-block;
    }
    #about table tr td span {
        color: #333333;
    }
    .services-sections .section {
        width: 25%;
        text-align: center;
        padding: 20px;
    }
    .portfolio-content {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    #portfolio a {
        text-decoration: none;
        color: #333333;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        line-height: 25px;
        float: left;
        width: 25%;
        padding: 15px;
    }
    .portfolio-content {
        width: 70%;
        margin: 0px auto;
        text-align: center;
        padding: 10px 10px 0 10px;
    }
    .portfolio-gallery {
        width: 100%;
    }
    .img-portfolio {
        width: 33.3%;
        padding: 10px;
    }
    #page-details .contain {
        width: 100%;
    }
    #client-feedback {
        width: 100%;
        padding: 50px 0;
    }
    .shapes {
        width: 10%;
        margin: auto;
        position: relative;
        left: 5%;
        top: -30px;
    }
    .shapes .shape1 {
        width: 40px;
        height: 15px;
        background-color: #FF305B;
        border-radius: 7px;
        float: left;
    }
    .shapes .shape2 {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #FF305B;
        background-color: transparent;
        float: left;
        margin-left: 3px;
    }
    .feedb-reviews {
        background-color: #F1F1F1;
        width: 70%;
        margin: 50px auto;
        position: relative;
        padding: 30px;
        border-radius: 10px;
    }
    .feedb-reviews img {
        border-radius: 50%;
        width: 20%;
        position: absolute;
        top: 40px;
        left: 30px;
        z-index: 1;
    }
    .desc-review {
        width: 70%;
        padding: 15px;
        position: relative;
        left: 22%;
    }
    .desc-review h3 {
        font-size: 26px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: #333333;
        line-height: 26px;
        padding-bottom: 10px;
    }
    .desc-review a {
        text-decoration: none;
        font-size: 15px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: #333333;
        line-height: 17px;
    }
    .shapes {
        display: none;
    }
    #blog .containeeer .blog-content {
        width: 90%;
        text-align: center;
    }
    #contact {
        width: 100%;
        margin: 0;
        padding: 30px;
    }
    #contact form {
        width: 80%;
    }
}